* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* inicio header */
header {
    background-color: #ff525d;
    /* background-color: #fc5762;  */
    background-image: url('../images/bg-pattern-intro-desktop.svg');
    height: 600px;
    background-repeat: no-repeat;
    background-size: 1800px;
    background-position: 15% 35%;
    border-bottom-left-radius: 90px;
}

.logo {
    margin-left: 12%;
    margin-top: 1%;
}

/* nav dos primeiros 3 botoes */
.primeiro-nav {
    font-family: 'Ubuntu', serif;
    margin-left: 2%;
}

/* nav do btn de login e cadastro */
.segundo-nav {
    font-family: 'Overpass', sans-serif;
    font-weight: bold;
    height: 80px;
    width: 20%;
    margin-top: 28px;
    margin-right: 10%;
}

/* botoes do menu drop down */
.drops>a {
    color: #fff;
    margin-right: 25px;
    text-decoration: none;
}

.drops>a:hover {
    color: #000;
    text-decoration: none;
}

/* btn hamburguer */
span>i {
    color: #fff;
}

.segundo-nav>#btn-login>a {
    color: #fff;
    text-decoration: none;
}

.segundo-nav>#btn-cadastro {
    background-color: #fff;
    color: #ff525d;
    margin-left: 20%;
    padding-top: 3px;
    text-align: center;
    height: 32px;
    width: 115px;
    border-radius: 15px;
}

.segundo-nav>#btn-cadastro>a {
    color: #ff525d;
    text-decoration: none;
    width: 100%;
}

.segundo-nav>#btn-cadastro>a:hover {
    color: #000;
    text-decoration: none;
    width: 100%;
}

/* textos header */
.title, .text {
    color: #fff;
    font-family: 'Overpass', sans-serif;
    text-align: center;
}

.title {
    font-weight: 480;
    letter-spacing: 1px;
    font-size: 66px;
    margin-top: 8%;
}

.text {
    font-size: 20px;
    margin-top: 2%;
}

/* botões header */
.btn-start, .btn-learn {
    text-align: center;
    border-radius: 20px;
    width: 130px;
    height: 40px;
    font-weight: 600;
    margin-top: 2%;
}

.btn-start {
    background-color: #fff;
    color: #ff525d;
    border: none;
    margin-right: 4%;
}

.btn-start:hover {
    background-color: transparent;
    color: #fff;
    border: solid 1px #fff;
    transition: 0.5s;
}

.btn-learn {
    background-color: transparent;
    color: #fff;
    border: solid 1px #fff;
}

.btn-learn:hover {
    background-color: #fff;
    color: #fc5762;
    border: solid 1px #fff;
    transition: 0.5s;
}

/* fim header */

/* inicio home */
.home {
    height: 100%;
}

.title2 {
    color: #000;
    margin-top: 6%;
    text-align: center;
}

.line2home {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Overpass', sans-serif;
}

.subtitleImgContainer {
    display: flex;
}

.subtitlesContainer {
    margin-top: 2%;
    margin-left: 20%;
}

.fSubtitles {
    color: #1f3f5b;
    font-weight: bold;
    text-align: left;
}

.text2 {
    text-align: left;
    width: 60%;
}

.imgContainer {
    margin-top: -80px;
}

/* img home */
.img {
    width: 580px;
}

/* fim home */

/* inicio section 2 */
.section2 {
    width: 100%;
    height: 500px;
    background-color: #414575;
    border-bottom-left-radius: 90px;
    border-top-right-radius: 90px;
}

.imgTextContainer {
    display: flex;
    justify-content: center;
}

.imgPhone {
    margin-top: 15px;
    margin-left: 0;
    position: absolute;
    z-index: 0;
}

.titleTextContainer {
    color: #fff;
    width: 100%;
    text-align: left;
}

.title3, .text3 {
    font-family: 'Overpass', sans-serif;
    padding-left: 40%;
}

.title3 {
    font-size: 25px;
    margin-top: 7%;
    margin-bottom: 3%;
    font-weight: 600;
}

.text3 {
    font-size: 18px;
    width: 80%;
}

/* fim section 2 */

/* inicio section 3 */
.section3 {
    width: 100%;
    height: 880px;
    margin-top: 5%;
}

.imgTextContainer2 {
    display: flex;
    justify-content: center;
}

.notebookContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 0;
}

.imgNotebook {
    width: 950px;
    margin-right: 100px;
    position: absolute;
    z-index: 1;
    margin-left: 480px;
}

.titleTextContainer2 {
    margin-top: 10%;
    text-align: left;
}

.title4, .text4 {
    margin-left: 45%;
    font-family: 'Overpass', sans-serif;
}

.title4 {
    color: #414575;
    font-weight: 300;
}

.text4 {
    width: 50%;
    font-size: 16px;
    color: #000;
    margin-top: 2%;
    margin-bottom: 2%;
}